// Colors
$primary-light: #f3eadd;
$primary: #bea48e;
$primary-dark: #7b6c5b;
$light: #f7f7f7;
$white: #ffffff;
$dark: #484848;
$black: #2b2b2b;
$gray: #ededed;
$gray-dark: #c5c5c5;

/****************** ALL THE OVERRIDES MUST GO ABOVE THIS LINE ******************/

// Import bootstrap styles
@import '../node_modules/bootstrap/scss/bootstrap';

// Import google fonts
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Mukta:wght@200;400;700&display=swap');

/****** Default styles ******/
html {
  font-size: 62.5%;
}

body {
  font-family: 'Mukta', Tahoma, sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  background-color: $primary-light;
  color: $black;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/****** Utility classes ******/
.font-accent {
  font-family: 'Cinzel Decorative', Georgia, sans-serif;
}

// background colors
.bg-primary-dark {
  background-color: $primary-dark;
}

.bg-black {
  background-color: $black;
}

// text colors
.text-gray-dark {
  color: $gray-dark;
}

// font sizes
.text-small {
  font-size: 1.25rem;
}

// font weights
.text-w-light {
  font-weight: 200;
}

.text-w-bold {
  font-weight: 700;
}

/****** Custom styles ******/
// editor's pick
.editors-pick__grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 20rem);

  & div {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.img-1 {
  grid-column: 1/5;
}

.img-2 {
  grid-column: 5/7;
}

.img-3 {
  grid-row: 1/-1;
  grid-column: 7/-1;

  height: auto;
}

.img-4 {
  grid-column: 1/4;
}

.img-5 {
  grid-column: 4/7;
  background-color: seagreen;
}

// footer
.footer {
  margin-bottom: -0.5rem;

  &__links {
    gap: 7.5rem;
  }
}

/****** Media queries ******/
@media screen and (max-width: 548px) {
  .footer {
    &__links {
      flex-direction: column !important;
      gap: 1.5rem !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .editors-pick__grid {
    grid-template-rows: repeat(3, 20rem) !important;

    .img-1 {
      grid-row: 2/3;
      grid-column: 1/-1;
    }

    .img-2 {
      grid-column: 1/5;
    }

    .img-3 {
      grid-column: 5/9;
      grid-row: 1/2;
    }

    .img-4 {
      grid-column: 1/5;
      grid-row: 3/-1;
    }

    .img-5 {
      grid-column: 5/9;
    }
  }
}
